<ion-content class="ion-padding no-scroll">
  <div class="content-wrapper">
    <ion-img [src]="'https://image.tmdb.org/t/p/w500' + correctActor?.profile_path"
             alt="Actor Image"
             class="actor-image">
    </ion-img>

    <ion-grid class="button-grid">
      <ion-row>
        <ion-col size="12" *ngFor="let actor of options">
          <ion-button expand="block" (click)="selectAnswer(actor)">
            {{ actor.name }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
